@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
   /* Background Variables */
   --background-image: url("/./assets/media/background/full-main.png"); /* Background Image */
   --backdrop-filter: blur(10px) brightness(80%); /* Nav Backdrop filter */
   --background-nav: #173055; /* Nav Background */
   --background-color: #173055; /* Main Background Color */
   --background-input: #4a6fa5; /* Input Field Background Color */
   --background-column: #173055; /* Background for Apps Container */
   --background-settings: #173055; /* Settings Card Background */
   --background-buttons: #3665ac; /* Button Background Color */
   --tab-active-background: #204a88; /* Accent Color for Tabs */
   --slider-active-background: #204a88; /* Active Slider Background Color */
   --slider-inactive-background: #204a88; /* Slider Background Color */
   --nav-image: url("/./assets/media/background/logo.png"); /* Nav Logo */
   /* Text Variables */
   --text-primary: #ffffff; /* Primary Text Color */
   --text-dark: #1b50cc; /* Dark Text Color for Error Page, Scrollbar, and Particles */
   --text-placeholder: #00d9ff; /* Placeholder Text Color */
   /* Other Variables */
   --tab-hover: #a05959; /* Tab Color on Hover */
}

::-webkit-scrollbar {
   width: 6px;
   background-color: var(--background-color);
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   background-color: var(--text-primary);
}

::-webkit-scrollbar-thumb:hover {
   background-color: var(--text-dark);
}

body {
   font-family: "Inter", sans-serif;
   text-decoration: none;
   background: var(--background-image);
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

::placeholder {
   color: var(--text-placeholder);
   opacity: 1;
}

.main {
   letter-spacing: 0px;
   font-family: "Inter", sans-serif;
   width: 99%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   top: 0%;
   position: absolute;
   z-index: 99;
}
